@model ASP.NET_MVC_Application.Models.Product
@using ASP.NET_MVC_Application.Extensions;
@using NET_MVC_Application.Models

@{
    ViewBag.Title = "Update the Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var allProducts = (List<Product>)ViewBag.All;

}


<div>
    <h3>Fill the following form</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="float-left">
        <p>Name</p>
        <p>Supplier</p>
        <p>Place</p>
        <p>Expiration date</p>
    </div>
    <div class="float-right">
        <input type="text" style="margin: 1px 0 2px" name="name" value="@Model.Name" /><br />
        <input type="text" style="margin: 1px 0 2px" name="supplier" value="@Model.Supplier" /><br />
       
        
        <select name="place" class="dropdownstyle">
            @foreach (var item in Enum.GetValues(typeof(Place)).Cast<Place>())
            {
                if (allProducts.Any(x => x.Place == item) && item != Model.Place)
                {
                    continue;
                }

                <option value="@item">@item.GetEnumDescription()</option>
            }
        </select><br/>
        <input type="date" style="margin: 1px 0 2px" name="expirationdate"  data-val="@Model.ExpirationDate.Date.ToString("dd.MM.yyyy")" value="@Model.ExpirationDate.Date.ToString("yyyy-MM-dd")" />

        <br />
        <input type="submit" value="Save" />
    </div>
</form>

<p>
    @if (ViewBag.Submitted != null && ViewBag.Submitted)
    {
        // If the form was submitted
        @ViewBag.Message
    }
</p>